@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');

:root{
    --color-principal: #ffe715;
    --color-secundario: #a49618;
    --color-textos: #b9b9b9;
    --color-titulos: #f9f9f9;
    --color-negro: #1c1c1c;
    --fuente-principal: 'Monterrat', sans-serif;
    --fuente-secundaria: 'Mulish', sans-serif;    
}

/*ESTILOS GENERALES*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3 {
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    line-height: 1.1;   
    color: var(--color-titulos); 
    font-family: var(--fuente-principal);
}

p{
    margin: 0 0 15px 0;
    line-height: 1.5;
    font-size: clamp(16px, 2vw, 18px);
}

p, span{
    font-family: var(--fuente-secundaria);
}

p:last-child,
p:last-of-type {
  margin: 0;
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    display: inline-block;
}
a:hover{
    color: var(--color-principal);
}

html {
    width:100%;
    scroll-behavior: smooth;
}


img,
svg {
 width: 100%;
 max-width: 100%;
 vertical-align: middle;
}

body {
    background: var(--color-negro);
    color: var(--color-titulos);
}

.btn{
    font-family: var(--fuente-secundaria);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--color-principal);
}

/*NAVEGACION PRINCIPAL*/

.logo-argprog{
    color: var(--color-principal);
}

.redes i{
    color: var(--color-principal);
}

