/*HABILIDADES*/

.contenido span {
    min-width: 5px;
    height: 5px;
    background: var(--color-principal);
    display: inline-block;
}

.contenedor-linea {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--color-secundario);

}

.linea-progreso {
    height: 100%;
    background: var(--color-principal);
}

.descripcion span {
    color: var(--color-principal);
}