<section class="habilidades row mb-5" id="habilidad">
  <header class="col-12 mb-4 d-flex align-items-center">
    <h2 class="text-capitalize"><span class="indice">03.</span> habilidades</h2>
    <button
      *ngIf="isLogged"
      data-bs-toggle="modal"
      data-bs-target="#modal-agregar-hab"
      class="icono-crud añadir p-1 px-2 ms-3 text-uppercase"
    >
      <span class="contenido-icono">
        agregar
        <i class="fa-solid fa-plus ms-3"></i>
      </span>
    </button>
  </header>
  <div
    class="items col-12 col-sm-6 mb-3 mb-md-5"
    *ngFor="let habilidad of habilidades"
  >
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button
        *ngIf="isLogged"
        data-bs-toggle="modal"
        data-bs-target="#modal-editar-hab"
        (click)="onOpenModal('editar', habilidad)"
        class="icono-crud editar p-1 px-2 text-uppercase"
      >
        <span class="contenido-icono">
          editar
          <i class="fa-solid fa-pen ms-3"></i>
        </span>
      </button>
      <button
        *ngIf="isLogged"
        data-bs-toggle="modal"
        data-bs-target="#modal-eliminar-hab"
        (click)="onOpenModal('eliminar', habilidad)"
        class="icono-crud eliminar p-1 px-2 ms-3 text-uppercase"
      >
        <span class="contenido-icono">
          eliminar
          <i class="fa-solid fa-xmark ms-3"></i>
        </span>
      </button>
    </div>
    <div class="info-habilidades">
      <div class="contenido d-flex align-items-center mb-3">
        <span></span>
        <p class="text-uppercase ms-3">{{ habilidad.nombreHab }}</p>
        <div class="contenedor-linea ms-5">
          <div
            class="linea-progreso"
            [ngStyle]="{ width: habilidad.porcentajeHab + '%' }"
          ></div>
        </div>
      </div>
      <p class="descripcion">
        <span class="text-capitalize">conocimientos sobre:</span>
        {{ habilidad.descripcionHab }}
      </p>
    </div>
  </div>
  <!--MODAL AGREGAR HAB-->
  <div
    class="modal fade"
    id="modal-agregar-hab"
    tabindex="-1"
    aria-labelledby="tituloModalAñadirHab"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalAñadirHab">
            agregar habilidad
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body container d-flex justify-content-center flex-lg-column"
        >
          <div
            class="img-modal d-none d-lg-flex justify-content-center w-100 mb-4"
          >
            <img src="../../../assets/images/modales/habilidad.svg" alt="" />
          </div>
          <form
            #formAgregar="ngForm"
            (ngSubmit)="onAgregarHab(formAgregar)"
            class="w-100 row"
          >
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="text"
                class="form-control"
                id="nombreHab"
                name="nombreHab"
                placeholder="nombre:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="number"
                class="form-control"
                id="porcentajeHab"
                name="porcentajeHab"
                placeholder="porcentaje de la habilidad:"
              />
            </div>
            <div class="mb-5 contenedor-input">
              <input
                ngModel
                type="text"
                class="form-control"
                id="descripcionHab"
                name="descripcionHab"
                placeholder="descripcion:"
              />
            </div>
            <div class="modal-footer">
              <button
                class="icono-crud default p-1 px-2 ms-3 text-uppercase"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono">cerrar</span>
              </button>
              <button
                [disabled]="formAgregar.invalid"
                class="icono-crud añadir p-1 px-2 ms-3 text-uppercase btn"
                type="submit"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono"
                  >agregar<i class="fa-solid fa-plus ms-3"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL EDITAR HAB-->
  <div
    class="modal fade"
    id="modal-editar-hab"
    tabindex="-1"
    aria-labelledby="tituloModalEditarHab"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalEditarHab">
            editar habilidad
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body container d-flex justify-content-center flex-lg-column"
        >
          <div
            class="img-modal d-none d-lg-flex justify-content-center w-100 mb-4"
          >
            <img src="../../../assets/images/modales/habilidad.svg" alt="" />
          </div>
          <form #formEditar="ngForm" class="w-100 row">
            <input
              type="hidden"
              ngModel="{{ editarHabilidad?.idHab }}"
              name="idHab"
              class="form-control"
              id="id"
              placeholder=""
            />
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarHabilidad?.nombreHab }}"
                type="text"
                class="form-control"
                id="nombreHab"
                name="nombreHab"
                placeholder="habilidad:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarHabilidad?.porcentajeHab }}"
                type="number"
                class="form-control"
                id="porcentajeHab"
                name="porcentajeHab"
                placeholder="porcentaje de la habilidad:"
              />
            </div>
            <div class="mb-5 contenedor-input">
              <input
                ngModel
                type="text"
                class="form-control"
                id="descripcionHab"
                name="descripcionHab"
                placeholder="descripcion:"
              />
            </div>
            <div class="modal-footer">
              <button
                class="icono-crud default p-1 px-2 ms-3 text-uppercase"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono"> cerrar </span>
              </button>
              <button
                [disabled]="formAgregar.invalid"
                class="icono-crud editar p-1 px-2 ms-3 text-uppercase btn"
                type="submit"
                data-bs-dismiss="modal"
                (click)="onEditarHab(formEditar.value)"
              >
                <span class="contenido-icono">
                  editar
                  <i class="fa-solid fa-pen ms-3"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL ELIMINAR HAB-->
  <div
    class="modal fade"
    id="modal-eliminar-hab"
    tabindex="-1"
    role="dialog"
    aria-labelledby="tituloModalEliminarHab"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalEliminarHab">
            eliminar habilidad
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-capitalize">
          estas seguro de eliminar esta Habilidad?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn icono-crud default p-1 px-2 ms-3 text-uppercase"
            data-dismiss="modal"
          >
            <span class="contenido-icono">cerrar</span>
          </button>
          <button
            (click)="onEliminarHab(borrarHabilidad!.idHab)"
            type="button"
            class="btn icono-crud eliminar p-1 px-2 ms-3 text-uppercase"
            data-bs-dismiss="modal"
          >
            <span class="contenido-icono"
              >eliminar<i class="fa-solid fa-xmark ms-3"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
