<section class="habilidades row mb-5">
  <header class="col-12 mb-4">
    <h2 class="text-capitalize"><span class="indice">02.</span> habilidades</h2>
  </header>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">html5</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-1"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">css</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-2"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">javascript</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-3"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">react</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-4"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">angular</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-5"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">mysql</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-6"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">github</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-7"></div>
    </div>
  </div>
  <div
    class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
  >
    <span></span>
    <p class="text-uppercase ms-3">express</p>
    <div class="contenedor-linea ms-5">
      <div class="linea-8"></div>
    </div>
  </div>
</section>
