<section class="mb-5" id="contacto">
  <header class="col-12 mt-5 d-flex align-items-center">
    <h2 class="text-capitalize mb-0">
      <span class="indice">05.</span> contacto
    </h2>
  </header>

  <div class="contenido-contacto d-flex flex-column align-items-center pt-5">
    <h3 class="mb-5 text-capitalize">trabajemos juntos</h3>
    <p class="descripcion mb-5 text-center">
      Actualmente me encuentro abierto a cualquier oportunidad para una posicion
      de <span>trainee</span> o <span>junior</span>, tanto dentro como fuera de
      las tecnologías que manejo. Busco <span>aprender</span>,
      <span>crecer</span> como profesional y <span>aportar</span> el máximo
      valor posible.
    </p>
    <a
      href="mailto:diego_ind@live.com.ar"
      class="btn boton p-2 px-3 text-uppercase"
      >contactarme</a
    >
  </div>
</section>
