<section class="educacion row mb-5" id="educacion">
  <header class="col-12 mt-5 d-flex align-items-center">
    <h2 class="text-capitalize mb-0">
      <span class="indice">02.</span> educación
    </h2>
    <button
      *ngIf="isLogged"
      data-bs-toggle="modal"
      data-bs-target="#modal-agregar-edu"
      class="icono-crud añadir p-1 px-2 ms-3 text-uppercase"
    >
      <span class="contenido-icono">
        agregar
        <i class="fa-solid fa-plus ms-3"></i>
      </span>
    </button>
  </header>
  <div
    class="items mt-5 col-12 col-md-6 d-flex flex-wrap"
    *ngFor="let educacion of educaciones"
  >
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button
        *ngIf="isLogged"
        data-bs-toggle="modal"
        data-bs-target="#modal-editar-edu"
        (click)="onOpenModal('editar', educacion)"
        class="icono-crud editar p-1 px-2 text-uppercase"
      >
        <span class="contenido-icono">
          editar
          <i class="fa-solid fa-pen ms-3"></i>
        </span>
      </button>
      <button
        *ngIf="isLogged"
        data-bs-toggle="modal"
        data-bs-target="#modal-eliminar-edu"
        (click)="onOpenModal('eliminar', educacion)"
        class="icono-crud eliminar p-1 px-2 ms-3 me-1 text-uppercase"
      >
        <span class="contenido-icono">
          eliminar
          <i class="fa-solid fa-xmark ms-3"></i>
        </span>
      </button>
    </div>
    <div class="logos-items me-3">
      <img src="{{ educacion.imgEdu }}" alt="logo iters" />
    </div>
    <div class="info-items">
      <h3 class="text-capitalize">{{ educacion.institucionEdu }}</h3>
      <p class="fechas text-capitalize">
        {{ educacion.fechaIniEdu }} - {{ educacion.fechaFinEdu }}
      </p>
      <h5 class="titulo-items text-capitalize">
        {{ educacion.tituloEdu }}
      </h5>
      <p class="descripcion-items">
        {{ educacion.descripcionEdu }}
      </p>
      <a
        class="links-items link p-2 text-capitalize"
        href="{{ educacion.linkEdu }}"
        target="_blank"
        >ver sitio <i class="fa-solid fa-right-long"></i
      ></a>
    </div>
  </div>
  <!--MODAL AGREGAR EDU-->
  <div
    class="modal fade"
    id="modal-agregar-edu"
    tabindex="-1"
    aria-labelledby="tituloModalAñadirEdu"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalAñadirEdu">
            agregar educación
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body container d-flex justify-content-center flex-lg-column"
        >
          <div
            class="img-modal d-none d-lg-flex justify-content-center w-100 mb-4"
          >
            <img src="../../../assets/images/modales/educacion.svg" alt="" />
          </div>
          <form
            #formAgregar="ngForm"
            (ngSubmit)="onAgregarEdu(formAgregar)"
            class="w-100 row"
          >
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="text"
                class="form-control"
                id="institucionEdu"
                name="institucionEdu"
                placeholder="nombre de la institucion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="text"
                class="form-control"
                id="tituloEdu"
                name="tituloEdu"
                placeholder="titulo de la educacion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="number"
                class="form-control"
                id="fechaIniEdu"
                name="fechaIniEdu"
                placeholder="año de inicio:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="number"
                class="form-control"
                id="fechaFinEdu"
                name="fechaFinEdu"
                placeholder="año de finalización:"
              />
            </div>
            <div class="mb-5 contenedor-input">
              <input
                ngModel
                type="text"
                class="form-control"
                id="descripcionEdu"
                name="descripcionEdu"
                placeholder="descripción:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="text"
                class="form-control"
                id="linkEdu"
                name="linkEdu"
                placeholder="link educacion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel
                type="text"
                class="form-control"
                id="imgEdu"
                name="imgEdu"
                placeholder="link imagen:"
              />
            </div>
            <div class="modal-footer">
              <button
                class="icono-crud default p-1 px-2 ms-3 text-uppercase"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono">cerrar</span>
              </button>
              <button
                [disabled]="formAgregar.invalid"
                class="icono-crud añadir p-1 px-2 ms-3 text-uppercase btn"
                type="submit"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono"
                  >agregar<i class="fa-solid fa-plus ms-3"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL EDITAR EDU-->
  <div
    class="modal fade"
    id="modal-editar-edu"
    tabindex="-1"
    aria-labelledby="tituloModalEditarEdu"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalEditarEdu">
            editar Educacion
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body container d-flex justify-content-center flex-lg-column"
        >
          <div
            class="img-modal justify-content-center w-100 d-none d-lg-flex mb-5"
          >
            <img src="../../../assets/images/modales/educacion.svg" alt="" />
          </div>
          <form #formEditar="ngForm" class="w-100 row">
            <input
              type="hidden"
              ngModel="{{ editarEducacion?.idEdu }}"
              name="idEdu"
              class="form-control"
              id="id"
              placeholder=""
            />
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.institucionEdu }}"
                type="text"
                class="form-control"
                id="institucionEdu"
                name="institucionEdu"
                placeholder="nombre de la institucion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.tituloEdu }}"
                type="text"
                class="form-control"
                id="tituloEdu"
                name="tituloEdu"
                placeholder="titulo de la Educacion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.fechaIniEdu }}"
                type="text"
                class="form-control"
                id="fechaIniEdu"
                name="fechaIniEdu"
                placeholder="fecha de inicio (mes / año):"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.fechaFinEdu }}"
                type="text"
                class="form-control"
                id="fechaFinEdu"
                name="fechaFinEdu"
                placeholder="fecha de finalizacion (mes / año):"
              />
            </div>
            <div class="mb-5 contenedor-input">
              <input
                ngModel="{{ editarEducacion?.descripcionEdu }}"
                type="text"
                class="form-control"
                id="descripcionEdu"
                name="descripcionEdu"
                placeholder="descripción:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.linkEdu }}"
                type="text"
                class="form-control"
                id="linkEdu"
                name="linkEdu"
                placeholder="link educacion:"
              />
            </div>
            <div class="mb-5 contenedor-input col-lg-6">
              <input
                ngModel="{{ editarEducacion?.imgEdu }}"
                type="text"
                class="form-control"
                id="imgEdu"
                name="imgEdu"
                placeholder="link imagen:"
              />
            </div>
            <div class="modal-footer">
              <button
                class="icono-crud default p-1 px-2 ms-3 text-uppercase"
                data-bs-dismiss="modal"
              >
                <span class="contenido-icono"> cerrar </span>
              </button>
              <button
                [disabled]="formAgregar.invalid"
                class="icono-crud editar p-1 px-2 ms-3 text-uppercase btn"
                type="submit"
                data-bs-dismiss="modal"
                (click)="onEditarEdu(formEditar.value)"
              >
                <span class="contenido-icono">
                  editar
                  <i class="fa-solid fa-pen ms-3"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL ELIMINAR EDU-->
  <div
    class="modal fade"
    id="modal-eliminar-edu"
    tabindex="-1"
    role="dialog"
    aria-labelledby="tituloModalEliminarEdu"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="tituloModalEliminarEdu">
            eliminar educacion
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-capitalize">
          estas seguro de eliminar esta Educación?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn icono-crud default p-1 px-2 ms-3 text-uppercase"
            data-dismiss="modal"
          >
            <span class="contenido-icono">cerrar</span>
          </button>
          <button
            (click)="onEliminarEdu(borrarEducacion!.idEdu)"
            type="button"
            class="btn icono-crud eliminar p-1 px-2 ms-3 text-uppercase"
            data-bs-dismiss="modal"
          >
            <span class="contenido-icono"
              >eliminar<i class="fa-solid fa-xmark ms-3"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
