<section class="educacion row mb-5">
  <header class="col-12 mb-4 d-flex align-items-center">
    <h2 class="text-capitalize mb-0">
      <span class="indice">01.</span> educación
    </h2>
    <button class="icono-crud añadir p-1 px-2 ms-3 text-uppercase">
      <span class="contenido-icono">
        añadir
        <i class="fa-solid fa-plus ms-3"></i>
      </span>
    </button>
  </header>
  <div
    class="items mb-5 col-12 col-md-6 d-flex flex-wrap"
    *ngFor="let educacion of educaciones"
  >
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button class="icono-crud editar p-1 px-2 text-uppercase">
        <span class="contenido-icono">
          editar
          <i class="fa-solid fa-pen ms-3"></i>
        </span>
      </button>
      <button class="icono-crud eliminar p-1 px-2 ms-3 text-uppercase">
        <span class="contenido-icono">
          eliminar
          <i class="fa-solid fa-xmark ms-3"></i>
        </span>
      </button>
    </div>
    <div class="logos-items me-3">
      <img src="{{ educacion.imgEdu }}" alt="logo iters" />
    </div>
    <div class="info-items">
      <h3 class="text-capitalize">{{ educacion.institucionEdu }}</h3>
      <p class="fechas text-capitalize">
        {{ educacion.fechaIniEdu }} - {{ educacion.fechaFinEdu }}
      </p>
      <h5 class="titulo-items text-capitalize">
        {{ educacion.tituloEdu }}
      </h5>
      <p class="descripcion-items">
        {{ educacion.descripcionEdu }}
      </p>
      <a
        class="links-items link p-2 text-capitalize"
        href="{{ educacion.linkEdu }}"
        target="_blank"
        >ver sitio <i class="fa-solid fa-right-long"></i
      ></a>
    </div>
  </div>
</section>
