/*PROYECTOS*/

.contenido-proyecto {
    position: relative;
    overflow: hidden;
    min-height: 230px;
}

.imagen-proyecto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    filter: grayscale(100%) contrast(1) brightness(50%);
}

.contenido-proyecto:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: var(--color-principal);
    mix-blend-mode: multiply;
    opacity: 0.9;
    transition: all .1s ease-in-out;
    filter: brightness(60%);
}



.contenido-proyecto:hover:after {
    background: none;
}



.descripcion-proyecto::first-letter {
    text-transform: capitalize;
}

.tecnologia {
    color: var(--color-principal);
    font-size: 11px;
}