<section class="proyectos row">
  <header class="col-12 mb-4">
    <h2 class="text-capitalize"><span class="indice">03.</span> proyectos</h2>
  </header>
  <div
    class="item-proyecto col-12 col-md-6 py-2"
    *ngFor="let proyecto of proyectos"
  >
    <div class="contenido-proyecto">
      <h3 class="nombre-proyecto text-capitalize">{{ proyecto.tituloPro }}</h3>
      <p class="fechas">{{ proyecto.fechaPro }}</p>
      <p class="descripcion-proyecto">
        {{ proyecto.descripcionPro }}
      </p>
      <p class="contenedor-tecnologias d-flex flex-column flex-md-row mb-3">
        <span class="tecnologia me-2 text-uppercase"
          ><i class="fa-solid fa-caret-right me-2"></i
          >{{ proyecto.mainTecno }}</span
        >
        <span class="tecnologia me-2 text-uppercase"
          ><i class="fa-solid fa-caret-right me-2"></i
          >{{ proyecto.subTecnoA }}</span
        >
        <span class="tecnologia text-uppercase"
          ><i class="fa-solid fa-caret-right me-2"></i
          >{{ proyecto.subTecnoB }}</span
        >
      </p>
      <div class="d-flex justify-content-around justify-content-md-end">
        <a
          href="{{ proyecto.linkCode }}"
          target="_blank"
          class="text-capitalize me-md-5 link"
          >ver código<i class="fa-brands fa-github ms-2"></i
        ></a>
        <a
          href="{{ proyecto.linkSitio }}"
          target="_blank"
          class="text-capitalize link"
          >ver sitio<i class="fa-solid fa-square-arrow-up-right ms-2"></i
        ></a>
      </div>
    </div>
  </div>
</section>
