<nav class="navegacion-principal row pt-3">
  <div class="col-12 col-sm-5 mb-3 mb-sm-0">
    <span
      class="text-capitalize d-flex justify-content-center justify-content-sm-start align-items-center"
      ><i class="logo-argprog fa-solid fa-terminal me-2"></i>
      <a
        href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
        target="_blank"
        >argentina programa</a
      >
    </span>
  </div>
  <div
    class="col-12 col-sm-7 d-flex justify-content-between justify-content-sm-end align-items-center"
  >
    <div>
      <a
        href="https://www.linkedin.com/in/diego-aldao/"
        target="_blank"
        class="link redes me-2 text-capitalize"
        >linkedin<i class="fa-brands fa-linkedin ms-1"></i
      ></a>
      <a
        href="https://github.com/Diego-Aldao"
        target="_blank"
        class="link redes text-capitalize"
        >github<i class="fa-brands fa-github ms-1"></i
      ></a>
    </div>
    <button
      class="btn boton p-1 px-3 ms-5 text-uppercase"
      *ngIf="!isLogged"
      (click)="login()"
    >
      ingresar
    </button>
    <button
      class="btn boton p-1 px-3 ms-5 text-uppercase"
      *ngIf="isLogged"
      (click)="logout()"
    >
      salir
    </button>
  </div>
</nav>
