<section class="experiencia row mb-5">
  <header class="col-12 mb-4 d-flex align-items-center">
    <h2 class="text-capitalize"><span class="indice">01.</span> experiencia</h2>
    <button class="icono-crud añadir p-1 px-2 ms-3 text-uppercase">
      <span class="contenido-icono">
        añadir
        <i class="fa-solid fa-plus ms-3"></i>
      </span>
    </button>
  </header>
  <div
    class="items mb-5 col-12 col-md-6 d-flex flex-wrap"
    *ngFor="let experiencia of experiencias"
  >
    <div class="col-12 mb-3 d-flex justify-content-end">
      <button class="icono-crud editar p-1 px-2 text-uppercase">
        <span class="contenido-icono">
          editar
          <i class="fa-solid fa-pen ms-3"></i>
        </span>
      </button>
      <button class="icono-crud eliminar p-1 px-2 ms-3 text-uppercase">
        <span class="contenido-icono">
          eliminar
          <i class="fa-solid fa-xmark ms-3"></i>
        </span>
      </button>
    </div>
    <div class="logos-items me-3">
      <img src="{{ experiencia.imgExp }}" alt="logo iters" />
    </div>
    <div class="info-items">
      <h3 class="text-capitalize">{{ experiencia.empresaExp }}</h3>
      <p class="fechas">
        {{ experiencia.fechaIniExp }}{{ experiencia.fechaFinExp }}/p>
      </p>
      <h5 class="titulo-experiencia text-capitalize">
        {{ experiencia.tituloExp }}
      </h5>
      <p class="descripcion-items">
        {{ experiencia.descripcionExp }}
      </p>
    </div>
  </div>
</section>
