<div class="container-lg">
  <nav class="navegacion-principal row pt-3">
    <div class="col-12 col-sm-5 mb-3 mb-sm-0">
      <span
        class="text-capitalize d-flex justify-content-center justify-content-sm-start align-items-center"
        ><i class="logo-argprog fa-solid fa-terminal me-2"></i>
        <p>argentina programa</p>
      </span>
    </div>
    <div
      class="col-12 col-sm-7 d-flex justify-content-between justify-content-sm-end align-items-center"
    >
      <div>
        <a
          href="https://www.linkedin.com/in/diego-aldao/"
          target="_blank"
          class="link redes me-2 text-capitalize"
          >linkedin<i class="fa-brands fa-linkedin ms-1"></i
        ></a>
        <a
          href="https://github.com/Diego-Aldao"
          target="_blank"
          class="link redes text-capitalize"
          >github<i class="fa-brands fa-github ms-1"></i
        ></a>
      </div>
      <button class="btn p-1 px-3 ms-5 text-uppercase">login</button>
    </div>
  </nav>
  <header class="header-principal">
    <div class="py-5 my-5 px-md-5">
      <div class="img-personal mb-4">
        <img src="../assets/images/me.webp" alt="imagen de diego aldao" />
      </div>
      <h1 class="nombre text-capitalize">diego aldao.</h1>
      <h3 class="titulo text-capitalize">desarrollador full stack jr.</h3>
      <p class="texto-header">
        Hola! soy Diego, un programador fullstack Jr. viviendo en Mendoza, Arg.
        Encontré mi pasión por el mundo de la programación web a principios del
        2020, y desde entonces no he parado de aprender y construir cosas. En
        este momento estoy realizando el curso de
        <span> Argentina Programa </span>
      </p>
    </div>
  </header>
  <section class="educacion row mb-5">
    <header class="col-12 mb-4">
      <h2 class="text-capitalize"><span class="indice">01.</span> educación</h2>
    </header>
    <div class="item-educacion mb-5 col-12 col-md-6 d-flex">
      <div class="logo-educacion me-3">
        <img src="../assets/images/cursos/udemy.webp" alt="logo iters" />
      </div>
      <div class="info-educacion">
        <h3 class="text-capitalize">udemy</h3>
        <p class="fechas text-capitalize">jul 2021 - jul 2021</p>
        <h5 class="titulo-educacion text-capitalize">introducción a react</h5>
        <p class="descripcion-educacion">
          curso de introduccion a react donde aprendí lo básico de la librería,
          como su instalación, qué es
          <span class="text-uppercase">jsx</span>, qué son los
          <span>componentes</span> y la
          <span>estructura basica de un proyecto en react</span>
        </p>
        <a
          class="link-educacion link p-2 text-capitalize"
          href="https://www.udemy.com/course/react-js-curso-de-introduccion-desde-cero-y-primeros-pasos/"
          target="_blank"
          >ver sitio <i class="fa-solid fa-right-long"></i
        ></a>
      </div>
    </div>
    <div class="item-educacion mb-5 col-12 col-md-6 d-flex">
      <div class="logo-educacion me-3">
        <img src="../assets/images/cursos/iters.webp" alt="logo udemy" />
      </div>
      <div class="info-educacion">
        <h3 class="text-capitalize">iters</h3>
        <p class="fechas text-capitalize">ago 2021- feb 2022</p>
        <h5 class="titulo-educacion text-capitalize">
          desarrollo web fullstack
        </h5>
        <p class="descripcion-educacion">
          curso de desarrollo web full stack donde aprendí a trabajar tanto en
          el frontend como en el backend haciendo uso del stack de tecnologias
          <span class="text-uppercase">mern</span>
        </p>
        <a
          class="link-educacion link p-2 text-capitalize"
          href="https://www.iters.com.ar/#/"
          target="_blank"
          >ver sitio <i class="fa-solid fa-right-long"></i
        ></a>
      </div>
    </div>
    <div class="item-educacion mb-5 col-12 col-md-6 d-flex">
      <div class="logo-educacion me-3">
        <img src="../assets/images/cursos/scrimba.webp" alt="logo udemy" />
      </div>
      <div class="info-educacion">
        <h3 class="text-capitalize">scrimba</h3>
        <p class="fechas text-capitalize">ene 2021- mar 2022</p>
        <h5 class="titulo-educacion text-capitalize">learn react for free</h5>
        <p class="descripcion-educacion">
          curso de react donde continué el aprendizaje de la libreria,
          aprendiendo sobre <span>hooks</span>, <span>props</span>,
          <span>react forms</span> y llamadas de
          <span class="text-uppercase">api</span> en react
        </p>
        <a
          class="link-educacion link p-2 text-capitalize"
          href="https://scrimba.com/learn/learnreact"
          target="_blank"
          >ver sitio <i class="fa-solid fa-right-long"></i
        ></a>
      </div>
    </div>
    <div class="item-educacion mb-5 col-12 col-md-6 d-flex">
      <div class="logo-educacion me-3">
        <img src="../assets/images/cursos/argprog.webp" alt="logo udemy" />
      </div>
      <div class="info-educacion">
        <h3 class="text-capitalize">argentina programa</h3>
        <p class="fechas text-capitalize">feb 2021- ago 2022</p>
        <h5 class="titulo-educacion text-capitalize">programa #yoProgramo</h5>
        <p class="descripcion-educacion">
          segunda etapa del programa argentina programa donde aprendi sobre
          <span class="text-uppercase">scrum</span>, <span>github</span>,
          frontend dinámico con <span class="text-capitalize">angular</span>,
          backend con <span class="text-capitalize">java</span>, bases de datos
          <span>mysql</span> y devops
        </p>
        <a
          class="link-educacion link p-2 text-capitalize"
          href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
          target="_blank"
          >ver sitio <i class="fa-solid fa-right-long"></i
        ></a>
      </div>
    </div>
  </section>
  <section class="habilidades row mb-5">
    <header class="col-12 mb-4">
      <h2 class="text-capitalize">
        <span class="indice">02.</span> habilidades
      </h2>
    </header>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">html5</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-1"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">css</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-2"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">javascript</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-3"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">react</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-4"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">angular</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-5"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">mysql</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-6"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">github</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-7"></div>
      </div>
    </div>
    <div
      class="item-habilidad d-flex align-items-center col-12 col-sm-6 mb-3 mb-md-5"
    >
      <span></span>
      <p class="text-uppercase ms-3">express</p>
      <div class="contenedor-linea ms-5">
        <div class="linea-8"></div>
      </div>
    </div>
  </section>
  <section class="proyectos row">
    <header class="col-12 mb-4">
      <h2 class="text-capitalize"><span class="indice">03.</span> proyectos</h2>
    </header>
    <div class="item-proyecto col-12 col-md-6 py-2">
      <div class="imagen-proyecto"></div>
      <div class="contenido-proyecto">
        <h3 class="nombre-proyecto text-capitalize">portfolio react</h3>
        <p class="fechas">2022</p>
        <p class="descripcion-proyecto">
          portfolio personal realizado con React, Node.js y mySql, donde expongo
          los proyectos realizados, cursos, habilidades, etc.
        </p>
        <p class="contenedor-tecnologias d-flex flex-column flex-md-row mb-3">
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>styled components</span
          >
          <span class="tecnologia text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react router</span
          >
        </p>
        <div class="d-flex justify-content-around justify-content-md-end">
          <a
            href="https://github.com/Diego-Aldao/portfolio-react"
            target="_blank"
            class="text-capitalize me-md-5 link"
            >ver codigo<i class="fa-brands fa-github ms-2"></i
          ></a>
          <a
            href="https://github.com/Diego-Aldao/portfolio-react"
            target="_blank"
            class="text-capitalize link"
            >ver sitio<i class="fa-solid fa-square-arrow-up-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="item-proyecto col-12 col-md-6 py-2">
      <div class="imagen-proyecto"></div>
      <div class="contenido-proyecto">
        <h3 class="nombre-proyecto text-capitalize">echo</h3>
        <p class="fechas">2022</p>
        <p class="descripcion-proyecto">
          echo es un sitio para una empresa de diseño interior que necesite una
          forma facil, eficaz y atractiva de compartir su trabajo
        </p>
        <p
          class="contenedor-tecnologias d-flex flex-column flex-md-row mb-3 flex-wrap"
        >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>styled components</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>formik</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>yup</span
          >
          <span class="tecnologia text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react router</span
          >
        </p>
        <div class="links d-flex justify-content-around justify-content-md-end">
          <a
            href="https://github.com/Diego-Aldao/echo"
            target="_blank"
            class="text-capitalize link"
            >ver codigo<i class="fa-brands fa-github ms-2 me-md-5"></i
          ></a>
          <a
            href="https://designecho.netlify.app/"
            target="_blank"
            class="text-capitalize link"
            >ver sitio<i class="fa-solid fa-square-arrow-up-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="item-proyecto col-12 col-md-6 py-2">
      <div class="imagen-proyecto"></div>
      <div class="contenido-proyecto">
        <h3 class="nombre-proyecto text-capitalize">covid-19 data</h3>
        <p class="fechas">2022</p>
        <p class="descripcion-proyecto">
          covid-19 data es un proyecto que combina una api junto a un mapa
          interactivo para hacer una exposición de los datos de covid a nivel
          mundial
        </p>
        <p class="contenedor-tecnologias d-flex flex-column flex-md-row mb-3">
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>react dom</span
          >
          <span class="tecnologia text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>tailwindcss</span
          >
        </p>
        <div class="links d-flex justify-content-around justify-content-md-end">
          <a
            href="https://github.com/Diego-Aldao/covid19-data-react"
            target="_blank"
            class="text-capitalize link"
            >ver codigo<i class="fa-brands fa-github ms-2 me-md-5"></i
          ></a>
          <a
            href="https://github.com/Diego-Aldao/covid19-data-react"
            target="_blank"
            class="text-capitalize link"
            >ver sitio<i class="fa-solid fa-square-arrow-up-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="item-proyecto col-12 col-md-6 py-2">
      <div class="imagen-proyecto"></div>
      <div class="contenido-proyecto">
        <h3 class="nombre-proyecto text-capitalize">arcoiris kids</h3>
        <p class="fechas">2021</p>
        <p class="descripcion-proyecto">
          ArcoirisKids es un sitio para una institución educativa que contiene
          todo tipo de informacion como horarios, eventos, docentes, clases y
          más.
        </p>
        <p class="contenedor-tecnologias d-flex flex-column flex-md-row mb-3">
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>html</span
          >
          <span class="tecnologia me-2 text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>sass</span
          >
          <span class="tecnologia text-uppercase"
            ><i class="fa-solid fa-caret-right me-2"></i>javascript</span
          >
        </p>
        <div class="links d-flex justify-content-around justify-content-md-end">
          <a
            href="https://github.com/Diego-Aldao/escuela-primaria"
            target="_blank"
            class="text-capitalize link"
            >ver codigo<i class="fa-brands fa-github ms-2 me-md-5"></i
          ></a>
          <a
            href="https://arcoiriskids.netlify.app/"
            target="_blank"
            class="text-capitalize link"
            >ver sitio<i class="fa-solid fa-square-arrow-up-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <footer
    class="footer-principal d-flex align-items-center justify-content-center py-3"
  >
    <p class="text-capitalize">
      hecho por
      <a
        href="https://github.com/Diego-Aldao"
        target="_blank"
        class="fst-italic link"
        >diego aldao <i class="fa-solid fa-star"></i
      ></a>
    </p>
  </footer>
</div>
