<nav class="position-fixed d-flex justify-content-center">
  <div
    class="contenido d-flex flex-md-column justify-content-center position-relative"
  >
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#inicio"
      ><i class="fa-solid fa-house"></i
    ></a>
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#experiencia"
      >1</a
    >
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#educacion"
      >2</a
    >
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#habilidad"
      >3</a
    >
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#proyecto"
      >4</a
    >
    <a
      class="d-flex justify-content-center align-items-center position-relative"
      href="#contacto"
      >5</a
    >
    <div class="animacion position-absolute"></div>
  </div>
</nav>
