<div class="container-xl">
  <div class="row">
    <nav class="col-12 d-flex justify-content-center align-items-center">
      <span
        class="text-capitalize d-flex justify-content-center justify-content-sm-start align-items-center"
        ><i class="logo-argprog fa-solid fa-terminal me-2"></i>
        <p>argentina programa</p>
      </span>
    </nav>
  </div>
  <div
    class="row contenedor-login d-flex align-items-center justify-content-center mt-5 px-2"
  >
    <div
      class="columna-login col-12 d-flex h-100 justify-content-center align-items-center"
    >
      <div
        class="imagen-login col-6 d-none d-md-flex justify-content-center align-items-center"
      >
        <img src="../../../assets/images/login.svg" alt="" />
      </div>
      <div
        class="contenido-login col-12 col-md-6 d-flex h-100 justify-content-center flex-column align-items-center"
      >
        <h2 class="titulo text-capitalize">login</h2>
        <div class="contenedor-input col-12 mt-4 d-flex align-items-center">
          <i class="fa-solid fa-user me-3"></i>
          <input
            type="text"
            name="usuario"
            id="usuario"
            placeholder="usuario"
          />
        </div>
        <div
          class="contenedor-input col-12 mt-3 mb-5 d-flex align-items-center"
        >
          <i class="fa-solid fa-lock me-3"></i>
          <input
            type="password"
            name="contraseña"
            id="contraseña"
            placeholder="contraseña"
          />
        </div>
        <button class="btn boton-login text-uppercase mb-5">ingresar</button>
        <p class="registro">
          no tienes cuenta?
          <a class="link link-registro" href="">crear cuenta</a>
        </p>
      </div>
    </div>
  </div>
</div>
