<div class="container-xl">
  <div class="row">
    <nav class="col-12 d-flex justify-content-center align-items-center">
      <span
        class="text-capitalize d-flex justify-content-center justify-content-sm-start align-items-center"
        ><i class="logo-argprog fa-solid fa-terminal me-2"></i>
        <p>argentina programa</p>
      </span>
    </nav>
  </div>
  <div
    class="row contenedor-login d-flex align-items-center justify-content-center mt-5 px-2"
  >
    <div
      class="columna-login col-12 d-flex h-100 justify-content-center align-items-center"
    >
      <div
        class="imagen-login col-6 d-none d-md-flex justify-content-center align-items-center"
      >
        <img src="../../../assets/images/login.svg" alt="" />
      </div>
      <div
        class="contenido-login col-12 col-md-6 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="titulo text-capitalize">login</h2>
        <form
          (ngSubmit)="onEnviar($event)"
          [formGroup]="form"
          class="w-100 d-flex flex-column align-items-center px-2"
        >
          <div class="contenedor-input col-12">
            <div class="input-login col-12 mt-4 d-flex align-items-center">
              <i class="fa-solid fa-user me-3"></i>
              <input
                type="email"
                formControlName="email"
                name="usuario"
                id="usuario"
                placeholder="email"
              />
            </div>
            <div *ngIf="Email?.errors && Email?.touched" class="col-12">
              <p
                *ngIf="Email?.hasError('required') && Email?.touched"
                class="text-capitalize mt-2"
              >
                requerido
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-capitalize mt-2">
                email invalido
              </p>
            </div>
          </div>

          <div class="contenedor-input col-12">
            <div class="input-login col-12 mt-2 d-flex align-items-center">
              <i class="fa-solid fa-lock me-3"></i>
              <input
                type="password"
                formControlName="password"
                name="contraseña"
                id="contraseña"
                placeholder="contraseña"
              />
            </div>
            <div *ngIf="Password?.errors && Password?.touched" class="w-100">
              <p
                *ngIf="Password?.hasError('required')"
                class="text-capitalize mt-2"
              >
                requerido
              </p>
              <p
                *ngIf="Password?.errors?.['minlength']"
                class="text-capitalize mt-2"
              >
                la contraseña debe ser de 5 o mas caracteres
              </p>
            </div>
          </div>

          <button type="submit" class="btn boton text-uppercase mt-2">
            ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
