<header *ngIf="usuario" class="header-principal">
  <div class="py-5 my-5 px-md-5">
    <div class="mb-4 d-flex justify-content-between">
      <img
        class="img-personal"
        src="{{ usuario.img }}"
        alt="imagen de diego aldao"
      />
      <button class="icono-crud editar p-1 px-2 text-uppercase">
        <span class="contenido-icono">
          editar usuario<i class="fa-solid fa-pen ms-3"></i>
        </span>
      </button>
    </div>
    <h1 class="nombre text-capitalize">
      {{ usuario.nombre }} {{ usuario.apellido }}
    </h1>
    <h3 class="titulo text-capitalize">{{ usuario.titulo }}</h3>
    <p class="texto-header">
      {{ usuario.descripcion }}
    </p>
  </div>
</header>
